* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
*.v text eol=lf
*.sv text eol=lf
*.xdc text eol=lf
*.tcl text eol=lf
*.xpr text eol=lf
*.bd text eol=lf
*.bda text eol=lf
*.xci text eol=lf
*.xml text eol=lf
*.spr text eol=lf
*.sprj text eol=lf
*.prj text eol=lf
*.xpfm text eol=lf
*.spfm text eol=lf
*.mss text eol=lf

tb/iic_uvm/results/** linguist-generated

*.xsa binary
*.bit binary
*.mmi binary
*.elf binary
*.a binary
